# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

# robots
/frontend/web/robots.txt
/backend/web/robots.txt

# db data
/docker/mysql/data
/docker/mysql/data_test
/docker/nginx/logs

# local configs

/backend/config/local.php
/frontend/config/local.php
/console/config/local.php
/common/config/local.php
