includes:
    - vendor/proget-hq/phpstan-yii2/extension.neon
parameters:
    yii2:
        config_path: '%rootDir%/../../../common/config/codeception-local.php'
    level: 8
    paths:
        - backend
        - common
    ignoreErrors:
        - '#^Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) return type has no value type specified in iterable type array#'
        - '#^PHPDoc tag @var for variable \$[a-zA-Z0-9\\_]+ has no value type specified in iterable type array#'
        - '#^Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ type has no value type specified in iterable type array#'
        - 
            message: '#^Cannot call method [a-zA-Z0-9\\_]+\(\) on [a-zA-Z0-9\\_]+\|null#'
            paths:
                - '*/tests/*'
        -
            message: '#^Parameter \#[a-zA-Z0-9\\_]+ \$[a-zA-Z0-9\\_]+ of function [a-zA-Z0-9\\_]+ expects [a-zA-Z0-9\\_]+, [a-zA-Z0-9\\_]+\|null given#'
            paths:
                - '*/tests/*'
    excludePaths:
        analyseAndScan:
            - */tests/_output/*
            - */tests/_support/*
    # scanFiles:
    #     - common/config/__autocomplete.php
    # scanDirectories:
    #     - vendor/codeception/verify/src/Codeception/Verify/Verifiers